/* Style général pour les boutons */
button {
    width: 100%;
    margin-top: 20px; /* Ajoute de l'espace au-dessus du footer */
}

/* Style pour le compte à rebours */
#countdown-timer {
    font-size: 24px;
    font-weight: bold;
    color: #d9534f; /* Couleur rouge pour attirer l'attention */
    margin-top: 20px;
    text-align: center;
}

/* Style pour les témoignages */
#testimonials {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#testimonials h3 {
    color: #333;
    margin-bottom: 15px;
}

.testimony {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 8px;
}

.testimony img {
    width: 80px; /* Ajustez la taille de l'image */
    height: 80px;
    border-radius: 50%; /* Pour une image ronde */
    margin-right: 15px; /* Espace entre l'image et le texte */
}

.testimony p {
    margin: 0;
    color: #333;
}

.testimony .name {
    font-weight: bold;
    margin-bottom: 5px;
}

.testimony .message {
    font-style: italic;
}

/* CSS pour les images avec la classe 'responsive-img' */
.responsive-img {
  width: 100%;
  height: auto;
  border: 2px solid #ddd; /* Exemple de bordure */
  margin: 10px 0; /* Espacement vertical */
}
