.testimony img{width:80px;height:80px;border-radius:50%;margin-right:15px}.testimony p{margin:0;color:#333}.testimony .name{font-weight:700;margin-bottom:5px}.testimony .message{font-style:italic}.responsive-img{width:100%;height:auto;border:2px solid #ddd;margin:10px 0}
/* Augmente la taille et ajoute de l'espacement */
.filter-btn {
    padding: 12px 24px; /* Taille du bouton, ajuster selon les besoins */
    font-size: 16px;    /* Taille du texte pour assurer la lisibilité */
    margin: 10px;       /* Ajoute de l'espacement autour du bouton */
    display: inline-block;
    border-radius: 8px; /* Coins arrondis pour améliorer l'esthétique */
    cursor: pointer;
}

/* Ajoute un effet visuel pour améliorer l'expérience utilisateur */
.filter-btn:hover {
    background-color: #ddd; /* Change la couleur au survol pour un feedback visuel */
}

/* Optionnel : Ajuster les boutons pour les petits écrans */
@media (max-width: 600px) {
    .filter-btn {
        width: 100%; /* Les boutons prennent toute la largeur sur mobile */
        padding: 16px; /* Augmente la taille sur les petits écrans */
    }
}
